services:

  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - singe
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - "8085:80"
    environment:
      - PMA_ARBITRARY=1
    depends_on:
      - db
    networks:
      - singe
  www:
    build:
      context: .
      dockerfile: php/Dockerfile
      args:
        TIMEZONE: "Europe/Paris"
    ports:
      - "8081:8000"
    volumes:
      - .:/var/www/symfony:cached
    networks:
      - singe

volumes:
  db-data:

networks:
  singe:
    driver: bridge