{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <h1 style="text-align: center; font-size: 3em; margin-top: 1em;">Agence N</h1>
    <p style="text-align: center; margin-bottom: 0.5em;">Traitement des notes de frais et des demandes de congés</p>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mt-md-5">
                <h4>Note de frais</h4>
                <img src="/img/notedefrais.webp" alt="note">
            </div>
            <div class="col-md-6 text-center text-md-right mt-md-5">
                <h4>Demande de congé</h4>
                 <img src="styles/demandedeconge.png" alt="note">
            </div>
        </div>
    </div>
{% endblock %}
















{#{% extends 'base.html.twig' %}


{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <h1 style="text-align: center; font-size: 3em; margin-top: 1em ">Agence N</h1>
    <p style="text-align: center; margin-bottom: 0.5em;">Traitement des notes de frais et des demandes de congés</p>
{% endblock %}
{% block title %}Hello IndexController!{% endblock %}

{% block body %}
eme

{% endblock %}#}
