@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {
  main {
    padding-top: 70px;
    margin-top: 10rem;
  }
}

.navbar {
  z-index: 99;
  width: 100%;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);

  background-color: #242526 !important;
}

.nav-item:nth-child(1) .nav-link {
  color: #ffffff;
}

.nav-item:nth-child(1) .nav-link:hover {
  color: #ffffff;
  background-color: #3a3b3c;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #3a3b3c;
}

.notification-count {
  position: absolute;
  top: 0; /* ajustez cette valeur si nécessaire pour aligner verticalement */
  right: -20px; /* décalez à gauche pour le placer à droite de la cloche */
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0 5px;
  font-size: 0.75em;
  line-height: 20px; /* ajustez pour la hauteur du compteur */
  min-width: 20px;
  text-align: center;
  display: none; /* le compteur est caché par défaut */
  box-shadow: 0 0 5px rgba(0,0,0,0.2); /* optionnel pour l'esthétique */
}