.btn-back {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.btn-back:hover {
  background-color: #c82333;
}
/*
a.btn-back {
  display: inline-block; 
  padding: 10px 20px; 
  background-color: transparent; 
  border: 2px solid #007bff;
  color: #007bff; 
  text-decoration: none; 
  border-radius: 3px; 
  transition: background-color 0.3s ease; 
}


a.btn-back:hover {
  background-color: #007bff; 
  color: #fff;
} 

