<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('styles/nav.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    <script src="https://kit.fontawesome.com/554f744543.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg sticky-navbar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand" href="/index">
                    <img src="{{ asset('/img/LOGO.webp') }}" width="35px">
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>
                    {% if is_granted('ROLE_COMPTA') or is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="/note_frais">Note de frais</a>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="congeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Congées
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="congeDropdown">
                            {% if is_granted('ROLE_RH') or is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="/gestion_conge">Gestion Congés</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_USER") %}
                                <li><a class="dropdown-item" href="/mes_conges">Mes Congés</a></li>
                                <li><a class="dropdown-item" href="/demande_conge">Demande de Congé</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Administrator</a>
                        </li>
                    </ul>
                {% endif %}
                <div class="me-5">
                </div>
                {% if is_granted("ROLE_USER") %}
                    <div class="d-flex align-items-center">
                        <a href="/notifications" class="text-body me-3">
                            <i class="fa-solid fa-bell" data-fa-transform="left-6" style="font-size: 1.5em; color: white;"></i>
                        </a>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user" style="font-size: 1.5em; color: white;"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if not is_granted("ROLE_USER") %}
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user" style="font-size: 1.5em; color: White;"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
<main>
    {% block body %}
    {% endblock %}
</main>
</body>
</html>
