{% extends 'base.html.twig' %}

{% block title %}Edit ListeFrais{% endblock %}

{% block body %}
    <h1>Edit ListeFrais</h1>

    {{ include('liste_frais/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_liste_frais_index') }}">back to list</a>

    {{ include('liste_frais/_delete_form.html.twig') }}
{% endblock %}
